
      .navbar-transparent {
        background-color: rgba(255, 255, 255, 0.9) !important;
        transition: background-color 0.3s ease, box-shadow 0.3s ease;
        backdrop-filter: blur(10px);
      }

.custom-navbar {
  border-radius: 50rem;
  transition: border-radius 0.3s ease;
}

@media (max-width: 991px) {
  .custom-navbar {
    border-radius: 0 !important;
  }
}

        /* Thème sombre appliqué via une classe */
      .dark-mode {
        background-color: #121212 !important;
        color: #f1f1f1 !important;
      }

      .dark-mode .navbar {
        background-color: #1f1f1f !important;
      }

      .dark-mode .nav-link {
        color: #f1f1f1 !important;
      }

      .dark-mode .btn {
        border-color: #888;
        color: #f1f1f1;
      }


/* Mode sombre pour la zone de texte */
.dark-mode textarea,
.dark-mode select {
  background-color: #1e1e1e;
  color: #f1f1f1;
  border: 1px solid #444;
}

/* Placeholder en mode sombre */
.dark-mode textarea::placeholder {
  color: #bbb;
}

.dark-mode #operationSelectionnee {
  background-color: #1e1e1e !important;
  color: #f1f1f1 !important;
  border-color: #444 !important;
}

.dark-mode textarea:focus,
.dark-mode select:focus {
  background-color: #1e1e1e !important;
  color: #f1f1f1 !important;
  border-color: #666 !important;
  box-shadow: none !important;
}

#texte, #operationSelectionnee {
  transition: background-color 0,5s, color 0,5s, border-color 0,5s;
}

#operation {
  transition: background-color 0,5s, color 0,5s, border-color 0,5s;
}

.dark-mode #resultat {
  background-color: #1e1e1e !important;
  color: #f1f1f1 !important;
  border-color: #444 !important;
}

#resultat {
  transition: background-color 0,5s, color 0,5s, border-color 0,5s;
}

.dark-mode #lee {
  color: #ffffff !important;
  transition: background-color 0,5s, color 0,5s, border-color 0,5s;
}
.dark-mode #entrezvos {
  color: #ffffff !important;
}

.dark-mode .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23ffffff' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255,255,255, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.bg-primary {
  background-color: #ff0055 !important;
}

.rounded {
  border-radius: 2rem !important;
}

.shadow-sm {
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1) !important;
}

.number-circle {
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50%;
  background-color: #ff0055;
  color: white;
  font-weight: bold;
  text-align: center;
  font-size: 1.2rem;
  margin: 0 auto 1rem;
}



.circle-highlight {
  position: relative;
  display: inline-block;
  transition: all 0.3s ease;
}


.circle-highlight::after {
  content: '';
  position: absolute;
  left: 70%;
  top: 120%;
  width: 150%;
  height: 150%;
  transform: translate(-50%, -50%) scale(0.8);
  background: url('/image/cercle.png') no-repeat center center;
  background-size: contain;
  opacity: 0;
  transition: opacity 0.3s ease, transform 0.3s ease;
  pointer-events: none;
  z-index: -1;
}

.circle-highlight:hover::after {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}

.card-feature-custom1 {
transition: background-color 0.3s ease, color 0.3s ease;
border-top-left-radius: 5rem; 
border-top-right-radius: 2rem; 
border-bottom-left-radius: 2rem; 
border-bottom-right-radius: 2rem; 
}
.card-feature-custom3 {
transition: background-color 0.3s ease, color 0.3s ease;
border-top-left-radius: 2em; 
border-top-right-radius: 5rem; 
border-bottom-left-radius: 2rem; 
border-bottom-right-radius: 2rem; 
}
.card-feature-custom4 {
transition: background-color 0.3s ease, color 0.3s ease;
border-top-left-radius: 2rem; 
border-top-right-radius: 2rem; 
border-bottom-left-radius: 5rem; 
border-bottom-right-radius: 2rem; 
}
.card-feature-custom6 {
transition: background-color 0.3s ease, color 0.3s ease;
border-top-left-radius: 2rem; 
border-top-right-radius: 2rem; 
border-bottom-left-radius: 2rem; 
border-bottom-right-radius: 5rem; 
}

.card-feature {
transition: background-color 0.3s ease, color 0.3s ease;
}

.card-feature:hover {
  background-color: #ff0055 !important;
  color: white !important;

  .number-circle {
  background-color: #ffffff !important;
  color: #ff0055 !important;
}
}

.dark-mode .card-feature {
  background-color: #1e1e1e !important;
}
.dark-mode .card-feature:hover {
  background-color: #ff0055 !important;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px 0;
  z-index: 999;
}



.animated-forme {
  width: 100px; /* adapte à ton besoin */
  animation: waveMove 5s ease-in-out infinite;
  position: absolute;
  width: 110px;
  top: 50px;
  left: 50px;
  transition: top 20s ease, left 20s ease;
  z-index: -1; /* 👈 très important pour être en arrière-plan */
  pointer-events: none; /* pour éviter que ça bloque les clics */
}



@keyframes waveMove {
  0%, 100% {
    transform: translateY(0px) rotate(0deg);
  }
  50% {
    transform: translateY(10px) rotate(1deg);
  }
}
